/*========== CSS Site ==========*/
@font-face {
    font-family: Open Sans Regular;
    src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
    font-family: Open Sans Regular;
    src: url("../fonts/OpenSans-Regular.eot");
}

@font-face {
    font-family: UTM Bienvenue;
    src: url("../fonts/UTM Bienvenue.ttf");
}
@font-face {
    font-family: UTM Bienvenue;
    src: url("../fonts/UTM_Bienvenue.eot");
}

body {
	color: #000;
	background: url("../images/body-bg.png") repeat scroll 0 0 #fff;
	font-weight: normal;
	font-family: Open Sans Regular;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: 0;
}

img {
	max-width: 100%;
	height: auto;
	border: none;
}

table, th, td {
	border: 1px solid #000;
}

table {
	margin: 0 auto;
	max-width: 100%;
}

table tbody {
	border-top: none;
}

table tbody tr td {
	padding: 5px;
}

i.fa {
	margin: 0 7px 0 0;
}

.no-padding {
	padding: 0;
}

.item-list ul {
	margin: 0;
	list-style: none;
}

.item-list ul li {
	margin: 0;
}

/*========== CSS Block Quản Trị ==========*/
#user {
	background: #34495e;
}

.manager .content ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

.manager .content ul li {
	margin: 0;
	color: #fff;
	float: left;
}

.manager .content ul li a {
	color: #fff;
	padding: 10px 15px;
	display: block;
}

.manager .content ul li a:hover {
	text-decoration: none;
	background-color: #4a77a5;
}

/*========== CSS Mobile Menu ==========*/
#mobile-menu {
	padding: 10px 0;
	background-color: #59BD56;
}

#mobile-nav ul {
	border: inherit;
}

#mobile-nav ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#mobile-icon {
	padding: 0;
	outline: none;
}

#mobile-icon .title {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

#mobile-icon .hamburger-box {
	width: 30px;
	margin-right: 15px;
	height: 19px;
}

#mobile-icon .hamburger-inner,
#mobile-icon .hamburger-inner::before,
#mobile-icon .hamburger-inner::after {
	width: 30px;
	background-color: #fff;
}

/*========== CSS Top Page ==========*/

/*========== CSS Header ==========*/
.logo {
	text-align: center;
}

.hotline {
	float: right;
	margin: 20px 0 0 50px;
}

.search {
	float: left;
	margin: 30px 0 0 0;
	width: 300px;
	border: 1px solid #333;
	border-radius: 5px;
	background-color: #fff;
}

.search .views-exposed-widgets {
    margin: 0;
}

.search #edit-title-wrapper {
	width: 264px;
	padding: 0;
	float: left;
}

.search #edit-title {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #000;
    font-style: italic;
	padding: 7px 12px;
	outline: none;
	float: left;
	width: 100%;
}

.search .views-submit-button {
	float: right;
	padding: 0;
}

.search #edit-submit-uc-products {
    background: #7F3D1C url("../images/search.png") no-repeat scroll center center;
	border: medium none;
	font-size: 0;
	height: 34px;
	margin: 0;
	padding: 0;
	width: 34px;
}

.hotline .number {
	background: transparent url("../images/mobile-phone.png") no-repeat scroll 0 center;
    color: #4b5a5d;
    font-size: 25px;
    padding: 5px 0 5px 40px;
}

.hotline .number span {
	font-weight: bold;
	font-size: 26px;
	color: #e35656;
	margin: 0 0 0 10px;
}

/*========== CSS Site Menu ==========*/
.main-menu .content ul li a {
	color: #7f441c;
    font-size: 17px;
    padding: 15px;
    text-transform: uppercase;
}

.main-menu .content ul li a:hover {
	background-color: #7f441c;
	color: #fff;
	text-decoration: none;
}

.main-menu .content ul li ul {
	background-color: #7f441c;
	min-width: 200px;
	top: 47px;
}

.main-menu .content ul li ul li {
	border-bottom: 1px solid #956240;
}

.main-menu .content ul li ul li:last-child {
	border-bottom: none;
}

.main-menu .content ul li ul li a {
	color: #fff;
	text-transform: none;
	font-size: 14px;
}

.main-menu .content ul li ul li a:hover {
	background-color: #aa7a59;
}

.main-menu .content ul li ul ul {
	top: 0;
}

/*========== CSS Slideshow ==========*/
.banner {
	margin: 0 auto;
	max-width: 1600px;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    transform: translate3d(0px, 0px, 0px);
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.banner .carousel-control {
	width: 32px;
	text-shadow: none;
	font-size: 0;
	background: none;
	height: 31px;
	top: 45%;
}

.banner .carousel-control.left {
	background: url("../images/prev.png") no-repeat scroll 0 0 transparent;
	left: 20px;
}

.banner .carousel-control.right {
	background: url("../images/next.png") no-repeat scroll 0 0 transparent;
	right: 20px;
}

/*========== CSS Breadcrumb ==========*/
.camket,
.camket2 {
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	border: 1px solid #c1c1c1;
}

.camket2 {
	padding: 15px;
}

.camket .site {
	padding: 15px;
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
}

.camket .fa-stack,
.camket2 .fa-stack {
	color: #0fdd66;
	float: left;
	margin: 0 10px 0 0;
}

.camket .site .fa-inverse {
	transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
}

.camket .text-1 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	color: #000;
	margin: 5px 0;
}

.camket .text-2,
.camket2 .text-2 {
	color: #000;
}

.camket .site:hover {
	background-color: #59BD56;
}

.camket .site:hover .text-1,
.camket .site:hover .text-2 {
	color: #fff;
}

.camket .site:hover .fa-inverse {
	-ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}

.gioithieu {
    margin: 30px 0;
}

.gioithieu .content {
    font-family: UTM Bienvenue;
    text-align: center;
}

.gioithieu .border1 {
    background: transparent url("../images/t1.png") no-repeat scroll center 0;
    height: 48px;
}

.gioithieu .text1 {
    color: #7f441c;
    font-size: 30px;
    margin: 10px 0;
    text-transform: uppercase;
}

.gioithieu .text2 {
    color: #333;
    font-size: 25px;
    margin: 0 0 10px;
}

.gioithieu .border2 {
    background: transparent url("../images/t2.png") no-repeat scroll center 0;
    height: 6px;
}

/*========== CSS Front Page Custom ==========*/
#site-1 {
	margin: 0 0 30px 0;
}

.subding .block-title,
.gioithieu2 .block-title,
.other-news .block-title,
.other-products .block-title {
    color: #7f441c;
    font-size: 25px;
    margin: 0 0 15px;
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
}

.subding h2.block-title span {
    border-bottom: 1px solid #7f441c;
    padding: 0 0 5px;
}

.subding h2.block-title::before,
.subding h2.block-title::after {
    position: relative;
    top: 5px;
}

.subding h2.block-title::before {
    content: url("../images/box-heading-left.png");
    left: 0;
}

.subding h2.block-title::after {
    content: url("../images/box-heading-right.png");
    right: 0;
}

.list-products .col {
	margin: 0 0 30px 0;
}

.list-products .views-field-uc-product-image {
	border: 1px solid #A6873F;
	overflow: hidden;
}

.list-products .views-field-uc-product-image img {
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	width: 100%;
}

.list-products .views-field-uc-product-image img:hover {
	transform: scale(1.1);
}

.list-products .views-field-title {
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
	font-size: 14px;
}

.list-products .views-field-title a {
	color: #8f0d0d;
}

.list-products .views-field-title a:hover {
	text-decoration: none;
	color: #E35656;
}

.list-products .views-field-php {
	color: #ff0000;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.list-products .views-field-field-old-price {
	font-style: italic;
    text-align: center;
    margin: 10px 0 0 0;
    text-decoration: line-through;
}

.certificate .item-even,
.certificate .item-odd {
	margin: 0 15px;
	padding: 2px;
	border: 1px solid #A6873F;
}

.certificate .owl-theme .owl-controls,
.showroom .owl-theme .owl-controls {
	margin: 0;
	position: absolute;
	top: 40%;
	width: 100%;
}

.certificate .owl-theme .owl-controls .owl-buttons div,
.showroom .owl-theme .owl-controls .owl-buttons div {
	background: none;
	border-radius: 0;
	color: #D71F2F;
	opacity: 1;
	padding: 0;
	margin: 0;
	font-size: 30px;
}

.certificate .owl-theme .owl-controls .owl-buttons .owl-prev,
.showroom .owl-theme .owl-controls .owl-buttons .owl-prev {
	float: left;
	margin: 0 0 0 -20px;
}

.certificate .owl-theme .owl-controls .owl-buttons .owl-next,
.showroom .owl-theme .owl-controls .owl-buttons .owl-next {
	float: right;
	margin: 0 -20px 0 0;
}

#site-2 {
	background-color: #fff;
    border-bottom: 1px solid #8f0d0d;
    border-top: 1px solid #8f0d0d;
    padding: 30px 0;
}

.hot-news .col {
    margin: 0 0 30px;
	overflow: hidden;
}

.hot-news .views-field-field-image {
    border: 1px solid #c1c1c1;
    float: left;
    margin: 0 15px 0 0;
    padding: 2px;
    width: 180px;
}

.hot-news .views-field-title a {
    color: #59bd56;
    font-size: 16px;
    font-weight: bold;
}

.hot-news .views-field-field-description {
    margin: 10px 0 0;
    text-align: justify;
}

#site-3 {
	background-color: #f8f9f8;
    padding: 50px 0;
}

.dangky .form-item {
	margin: 0 0 20px 0;
}

.dangky .form-item label {
	display: block;
}

.dangky .form-item .form-text {
	border: 1px solid #e1e1e1;
	padding: 6px 12px;
	height: 34px;
	width: 100%;
}

.dangky .form-actions {
	margin: 0;
	text-align: center;
}

#site-4 {
    border-top: 1px solid #7f441c;
    padding: 30px 0;
}

.showroom .item-odd,
.showroom .item-even {
	margin: 0 7px;
	text-align: center;
}

.showroom .views-field-field-image {
	border: 1px solid #8f0d0d;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.75);
}

.showroom .views-field-title {
    border-top: 2px solid #8f0d0d;
    font-size: 16px;
    margin: 20px 0 10px;
    padding: 5px 0 0;
}

.showroom .views-field-body {
	font-size: 14px;
}

/*========== CSS Sidebar Left ==========*/

/*========== CSS Main Content ==========*/
.block-easy-breadcrumb {
    color: #333;
    font-style: italic;
    margin: 30px 0;
}

.block-easy-breadcrumb .content a {
    color: #333;
}

#page-title {
	color: #7f441c;
	border-bottom: none;
    font-size: 25px;
    margin: 0 0 15px;
    text-transform: uppercase;
}

.list-articles .views-row {
	padding: 15px;
	border-bottom: 1px dashed #c1c1c1;
	float: left;
	width: 100%;
}

.list-articles .views-row-odd {
    background-color: #f1f1f1;
}

.list-articles .views-row-even {
    background-color: #f9f9f9;
}

.list-articles .views-field-field-image {
    float: left;
    padding: 2px;
    border: 1px solid #c1c1c1;
    margin: 0 10px 0 0;
}

.list-articles .views-field-title a {
    color: #333;
    font-weight: bold;
    font-size: 20px;
}

.list-articles .views-field-created {
    margin: 5px 0;
    font-style: italic;
    color: #777;
}

.list-articles .views-field-created .fa {
	margin: 0 5px 0 0;
}

.list-articles .views-field-field-description {
    text-align: justify;
    color: #777;
}

.list-articles .views-field-view-node {
    float: right;
    margin-top: 10px;
}

.list-articles .views-field-view-node a {
    color: #333;
    font-style: italic;
}

.node-article .images {
	border: 1px solid #e1e1e1;
	padding: 2px;
}

.node-article .article-body {
	margin: 20px 0;
}

.other-news .views-row {
	padding: 0 0 0 20px;
	margin: 0 0 15px 0;
}

.other-news .views-row-last {
	margin: 0;
}

.other-news .views-row {
    margin: 0 0 15px;
    padding: 0 0 0 20px;
}

.node-product .images {
	border: 1px solid #e1e1e1;
}

.node-product .note {
	margin: 10px 0 10px 10px;
}

.node-product .description {
	text-align: justify;
	margin: 0 0 20px 0;
}

.node-product .function ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

.node-product .function ul li {
	margin: 5px 0;
}

.node-product .function ul li i {
	margin: 0 8px 0 0;
}

.node-product .price {
	color: #ff0000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.node-product .phone i {
	margin: 0 10px 0 0;
}

.node-product #edit-actions .node-add-to-cart {
	background: transparent url("../images/datmua.png") no-repeat scroll 0 0;
    border: medium none;
    display: block;
    font-size: 0;
    height: 65px;
    margin: 0 auto;
    width: 200px;
	border-radius: 0;
	padding: 0;
}

.node-product .site {
	color: #0fdd66;
}

.node-product .product-body {
    margin: 15px 0;
	padding: 15px;
	border: 1px solid #7f441c;
	border-radius: 5px;
}

/*========== CSS Sidebar Right ==========*/

/*========== CSS Bottom Page ==========*/

/*========== CSS Footer ==========*/
#footer {
    /* background-color: #7f441c; */
    background-color: #333333;
    margin: 0;
    padding: 0 0 30px;
}

.gioithieu2 {
	background-color: #59BD56;
	margin: 0 0 30px 0;
	padding-top: 30px;
	padding-bottom: 30px;
}

.gioithieu2 .block-title {
	color: #fff;
}

.gioithieu2 .content {
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	color: #fff;
	width: 70%;
	margin: 0 auto;
}

.address .content .logo-footer {
	margin: 0 0 20px 0;
	border-bottom: 1px solid #9C6D4B;
	padding: 0 0 20px 0;
}

.address .content .logo-footer img {
	max-width: 200px;
}

.address .content .col-sm-5 {
	border-right: 1px solid #9C6D4B;
}

.address .content ul {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #D5BEA8;
}

.address .content ul li {
	margin: 0 0 10px 0;
	float: left;
	width: 100%;
}

.address .content ul li:last-child {
	margin: 0;
}

.address .content .city {
	background-color: #ECC580;
	color: #7f441c;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 5px;
	float: left;
	margin: 0 0 10px 0;
}

.address .content .bis {
	float: left;
	width: 100%;
	line-height: 26px;
}

.lamviec {
	color: #999999;
	text-align: justify;
	font-style: italic;
}

.call-now a {
	padding: 10px 15px;
	border-radius: 5px 5px 0 0;
	color: #fff;
	background-color: #8f0d0d;
	text-decoration: none;
	position: fixed;
	bottom: 0;
	font-size: 16px;
	font-weight: bold;
	left: 0;
}

.call-now a i {
	margin: 0 8px 0 0;
}

#block-block-9 .block-title {
	color: #fff;
    font-size: 25px;
    margin: 0 0 15px;
    text-transform: uppercase;
}

#block-block-9 .content {
	color: #fff;
}

/*========== CSS Responsive Non Mobile First ==========*/
@media (max-width: 1200px) {
	
}

@media (max-width: 1024px) {
	.hot-news .views-field-field-image {
		width: 120px;
	}

	.certificate .owl-theme .owl-controls .owl-buttons .owl-next,
	.certificate .owl-theme .owl-controls .owl-buttons .owl-prev,
	.showroom .owl-theme .owl-controls .owl-buttons .owl-next,
	.showroom .owl-theme .owl-controls .owl-buttons .owl-prev {
		margin: 0;
	}
	
	.showroom .views-field-body {
		display: none;
	}
}

@media (max-width: 768px) {
	.manager .content ul li {
		float: none;
		display: block;
	}
	
	.camket,
	.camket2 {
		box-shadow: none;
		border: none;
	}
	
	.list-products .views-field-title {
		height: 40px;
		overflow: hidden;
	}
}

@media (max-width: 480px) {
	.subding h2.block-title::before,
	.subding h2.block-title::after {
		display: none;
	}
	
	.subding h2.block-title span {
		border-bottom: none;
	}
	
	.gioithieu2 {
		padding: 15px;
	}
	
	.gioithieu2 .content {
		width: 100%;
		margin: 0;
	}
}